<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>test</directory>
            <exclude>test/integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
